<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>

    <header class="tc-navbar">
      <div class="navbar-container">
        <a href="/" class="tc-logo">EXAMLI</a>
        <nav class="tc-nav-links">
          <a href="#" class="active">Latest</a>
          <a href="#">Startups</a>
          <a href="#">Security</a>
          <a href="#">AI</a>
          <a href="https://sojwal.dev" target="_blank">Portfolio ↗</a>
        </nav>
      </div>
    </header>

    <div class="tc-container">
      {{ content }}
    </div>

  </body>
</html>
